{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    {% if request.user.is_authenticated %}
    <div>
        <p class="hover:text-blue-500 mt-3">You are already signed in! <a href="{% url 'leads:lead-list' %}">Go to Home</a></p>
    </div>
    {% else %}
        <div class="py-5 border-b border-gray-200">
            <a class="hover:text-blue-500 mt-3" href="{% url 'login' %}">Already have an account? Log in here!</a>
        </div>
    
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Sign up!</button>
        </form>
    {% endif %}
</div>

{% endblock content %}
